@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-pomodoro: #e88080ff;
  --color-short-break: #5acea7ff;
  --color-long-break: #66afd3ff;
  --color-active-pomodoro: var(--color-pomodoro);
  --color-black-alpha: rgba(255, 255, 255, 0.1);
  --color-black-alpha-2: rgba(255, 255, 255, 0.2);
  --pomo-brand-color: #fff;
  --pomo-timer-text-color: #fff;
  --pomo-heading-text-color: #fff;
  --pomo-text-color: #fff;
}

body {
  min-height: 100vh;
  transition: background-color 0.5s ease;
}

#app {
  @apply container mx-auto;
  min-height: inherit;
}

main {
  min-height: inherit;
}

[data-mode='pomodoro'] {
  --color-active-pomodoro: var(--color-pomodoro);
  background-color: var(--color-pomodoro);
}

[data-mode='shortBreak'] {
  --color-active-pomodoro: var(--color-short-break);
  background-color: var(--color-short-break);
}

[data-mode='longBreak'] {
  --color-active-pomodoro: var(--color-long-break);
  background-color: var(--color-long-break);
}

[data-mode='pomodoro'] .pomodoro-container,
[data-mode='shortBreak'] .pomodoro-container,
[data-mode='longBreak'] .pomodoro-container {
  background-color: var(--color-black-alpha);
}

.brand,
.brand-auth {
  color: var(--pomo-brand-color);
}

.main-wrapper {
  @apply w-auto sm:w-[27rem] sm:w-[28rem] md:w-[30rem] lg:w-[31.25rem];
}

@media only screen and (width <= 400px) {
  .btn-setting .text,
  .btn-login .text,
  .brand {
    display: none;
  }

  .mode-controls {
    display: none;
  }
}

@media only screen and (width > 400px) {
  .brand-small {
    display: none;
  }

  .mode-controls-short {
    display: none;
  }
}
